In [15]:
import pandas as pd

In [16]:
books2 = pd.read_csv('books2.csv')

In [17]:
user_rating = books2.pivot_table(index=['userID'], columns=['title'], values='rating')

In [18]:
user_rating

title   dönüşüm  küçük prens  satranç  suç ve ceza
userID
1           1.0          1.0      2.0          5.0
2           5.0          5.0      5.0          3.0
3           4.0          4.0      3.0          1.0
4           2.0          2.0      1.0          2.0
5           3.0          5.0      5.0          4.0
6           3.0          1.0      1.0          1.0
7           1.0          3.0      4.0          5.0
8           5.0          2.0      2.0          3.0
9           2.0          5.0      3.0          2.0
10          2.0          5.0      5.0          4.0

In [19]:
item_similarity_df = user_rating.corr(method = 'pearson')

In [20]:
item_similarity_df.head(50)

title         dönüşüm  küçük prens   satranç  suç ve ceza
title
dönüşüm      1.000000     0.203381  0.103843    -0.454569
küçük prens  0.203381     1.000000  0.846705     0.043769
satranç      0.103843     0.846705  1.000000     0.467269
suç ve ceza -0.454569     0.043769  0.467269     1.000000

In [21]:
def get_similar_books(book_name, user_rating):
    similar_score = item_similarity_df[book_name]*(user_rating-2.5)
    similar_score = similar_score.sort_values(ascending = False)

    return similar_score

In [22]:
action_lover = [("satranç", 5), ("küçük prens", 4), ("dönüşüm", 1)]

similar_books = pd.DataFrame()

for book, rating in action_lover:
    similar_books = similar_books.append(get_similar_books(book, rating), ignore_index = True)

C:\Users\FURKAN\AppData\Local\Temp\ipykernel_18080\925192184.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_books = similar_books.append(get_similar_books(book, rating), ignore_index = True)

In [23]:
similar_books.head()

title   satranç  küçük prens  suç ve ceza   dönüşüm
0      2.500000     2.116764     1.168173  0.259607
1      1.270058     1.500000     0.065653  0.305071
2     -0.155764    -0.305071     0.681853 -1.500000

In [24]:
similar_books.sum().sort_values(ascending= False)

title
satranç        3.614294
küçük prens    3.311693
suç ve ceza    1.915679
dönüşüm       -0.935322
dtype: float64